{% extends 'base.html.twig' %}

{% block title %}Brume d'Encre Tattoo - Shop privé sur rendez-vous{% endblock %}

{% block body %}
<div class="hero-section">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <div class="hero-image-container">
                <img src="{{ asset('images/home-image.webp') }}" alt="Brume d'Encre Tattoo" class="img-fluid hero-image">
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="hero-title"><em>Brume d'encre</em> Tattoo</h1>
            <h2 class="h3 mt-4">Bienvenue dans mon univers : Brume d'Encre Tattoo</h2>
            <div class="mt-4">
                <p>Moi, c'est Mona de Brume d’Encre Tattoo, tatoueuse depuis plus de 10 ans, et installée sur Aniane, près de Montpellier, en 2018.</p>

                <p>Je vous reçois dans mon shop privé uniquement sur rendez-vous, ce qui me permet de prendre le temps nécessaire pour que chaque tatouage soit pour vous une expérience unique.</p>

                <p>Mon approche est douce et à l’écoute, que ce soit votre premier tatouage ou une nouvelle pièce à votre collection, nous dessinerons ensemble une œuvre qui vous ressemble faite avec soin et précision.</p>

                <p>Tous les projets que je réalise sont des pièces personnalisées, allant de la fine line à la dentelle en passant par l’aquarelle, le floral, le trash et bien d’autres, je m’adapte à tous les styles.</p>
            </div>
            <div class="mt-4">
                <a href="#" class="btn btn-primary btn-lg">Contact</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
