{% extends 'base.html.twig' %}

{% block title %}Contact - {{ site_name }}{% endblock %}

{% block body %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h1 class="text-center mb-4">Brume d’encre tattoo</h1>
            <h1 class="text-center mb-4">-</h1>
            <h1 class="text-center mb-4">Contacte moi</h1>

            <div class="contact-intro mb-5">
                <p class="lead">Ouvert sur rendez-vous, le studio privé Brume d’encre tattoo t’accueille sur la commune d’Aniane</p>
                <p>Proche du pont du diable (34150), de Saint-Guilhem le Désert (34150) et à 30 minutes de Montpellier (34000)</p>

                <address class="mt-4">
                    <strong>47 Boulevard Saint-Jean</strong><br>
                    34150 Aniane<br>
                    <a href="mailto:contact@brumedencre-tattoo.fr">contact@brumedencre-tattoo.fr</a>
                </address>
            </div>

            <div class="map-container mb-5 shadow-sm rounded overflow-hidden">
                {{ ux_map(map, {style: 'height: 500px; width: 100%;'}) }}
            </div>

            <div class="contact-details">
                <p>Pour prendre contact avec moi, tu peux m’envoyer un message en passant par un de mes réseaux sociaux (<a href="https://www.instagram.com/brumedencre_tattoo/?hl=fr" target="_blank">insta</a> ou <a href="https://www.facebook.com/monatatoueuse" target="_blank">fb</a>) ou me contacter ici via le formulaire, je répondrais au plus vite !</p>

                <p>On peut discuter de ton projet et échanger sur des idées pour faire une estimation par message si tu me fournis toutes les info ou sinon on peut aussi prendre un rdv au shop pour discuter en direct de ton futur tatouage !</p>

                <h3 class="mt-5 mb-4">Les info utiles :</h3>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">Quelle taille en centimètre environs tu aimerais ton projet ?</li>
                    <li class="list-group-item">Sur quelle zone ? (soit le plus précis possible par exemple pour l’avant bras ou tout le tour ou intérieur ou extérieur)</li>
                    <li class="list-group-item">En noir et gris, avec juste une touche de couleur, ou full colors ?</li>
                    <li class="list-group-item">Si tu le sais, quel style tu voudrais ? (Par exemple pour un portrait de loup si c’est plutôt réaliste ou croquis ou ornemental…)</li>
                    <li class="list-group-item">Si tu as des photos d’inspiration ou un petit croquis, ajoute les en pièce-jointe pour mieux comprendre ton projet !</li>
                </ul>

                <p class="mt-4">Tu peux retrouver mes différents projets <a href="{{ path('app_portfolio') }}">ici</a>, ou sur <a href="https://www.instagram.com/brumedencre_tattoo/?hl=fr" target="_blank">insta</a> si ça peut te donner des idées !</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
